{% extends '_layout.twig' %}

{% set filterOrder = ['colour', 'cut', 'size'] %}

{% block body %}

    {% set filters = { colour: 'green', size: 'm', cut: 'slim' } %}
    {# Solve the puzzle #}
    <div class="flex justify-between items-center space-x-10">
        {{ dump(filters) }}
        <div>should output</div>
        {{ dump({ cut: 'slim', colour: 'green', size: 'm' }) }}
    </div>

    <hr class="w-full border border-gray-300">

    {% set filters = { size: 's', colour: 'yellow' } %}
    {# Solve the puzzle #}
    <div class="flex justify-between items-center space-x-10">
        {{ dump(filters) }}
        <div>should output</div>
        {{ dump({ colour: 'yellow', size: 's' }) }}
    </div>

    <hr class="w-full border border-gray-300">

    {% set filters = { cut: 'regular' } %}
    {# Solve the puzzle #}
    <div class="flex justify-between items-center space-x-10">
        {{ dump(filters) }}
        <div>should output</div>
        {{ dump({ cut: 'regular' }) }}
    </div>

{% endblock %}
