{% extends '_layout.twig' %}

{% set filterOrder = ['colour', 'cut', 'size'] %}

{% block body %}

    {% set filters = { cut: 'slim', colour: 'green', size: 'm' } %}
    {# Solve the puzzle #}
    <div class="flex justify-between items-center space-x-10">
        {{ dump(filters) }}
        <div>should output</div>
        {{ dump({ colour: 'green', cut: 'slim', size: 'm' }) }}
    </div>

    <hr class="w-full border border-gray-300">

    {% set filters = { size: 's', colour: 'yellow' } %}
    {# Solve the puzzle #}
    <div class="flex justify-between items-center space-x-10">
        {{ dump(filters) }}
        <div>should output</div>
        {{ dump({ colour: 'yellow', cut: 'slim', size: 's' }) }}
    </div>

    <hr class="w-full border border-gray-300">

    {% set filters = { cut: 'regular' } %}
    {# Solve the puzzle #}
    <div class="flex justify-between items-center space-x-10">
        {{ dump(filters) }}
        <div>should output</div>
        {{ dump({ colour: null, cut: 'regular', size: null }) }}
    </div>

{% endblock %}
